<!doctype html>
<html ng-app="studyApp">
  <head>
    <meta charset="UTF-8" />
    <title>AngularJS - Kata 02</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    <!-- add name to paragraph message -->
    <input type="text" ng-model="form.name" placeholder="Add your name" />
    <button ng-click="submit()">Submit</button>
    <!-- Returned message -->
    <p>Hello {{result}}!</p>
  </body>
</html>
